In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.ml.clustering import BisectingKMeans
from pyspark.sql.types import ArrayType, DoubleType
from pyspark.sql import functions as F
import pandas as pd
from sqlalchemy import create_engine
sc = SparkContext()
spark = SparkSession(sc)

In [2]:
engine = create_engine('mysql+mysqlconnector://user:u53r_mysql@db/article_clustering')
article_frame = spark.createDataFrame(pd.read_sql('article', engine, columns=['vector', 'id']))

In [4]:
new_schema = ArrayType(DoubleType(), containsNull=False)
udf_foo = F.udf(lambda x: x, new_schema)
article_frame = article_frame.withColumn("vector", udf_foo("vector"))
bkm = BisectingKMeans(k=100, featuresCol='vector')
model = bkm.fit(article_frame)
model.setPredictionCol("cluster_id")
article_frame = model.transform(article_frame)

In [5]:
article_frame = article_frame.toPandas()
cluster_frame = pd.Series(article_frame['cluster_id'].unique())

In [9]:
article_frame['article_id'] = article_frame['id']
article_frame = article_frame[['article_id', 'cluster_id']]
article_frame

      article_id  cluster_id
0           2342          37
1           2343          55
2           2344          60
3           2345          59
4           2346          37
...          ...         ...
3100        5442          47
3101        5443          41
3102        5444          36
3103        5445          52
3104        5446          51

[3105 rows x 2 columns]

In [10]:
cluster_frame = pd.DataFrame(article_frame['cluster_id'].unique(), columns=['id'])

In [11]:
cluster_frame

    id
0   37
1   55
2   60
3   59
4   50
..  ..
95  51
96  65
97  96
98  91
99  94

[100 rows x 1 columns]

In [14]:
cluster_frame.to_sql('cluster', engine, if_exists='replace', index=False)

In [15]:
article_frame.to_sql('article_cluster', engine, if_exists='replace', index=False)