In [40]:
import json
import pandas as pd
import multiprocess as mp
from collections import Counter
from sqlalchemy import create_engine
from nltk import word_tokenize
from nltk.corpus import stopwords

In [41]:
query = 'SELECT article.text, article_cluster.cluster_id FROM article JOIN article_cluster ON article.id = article_cluster.article_id'
engine = create_engine('mysql+mysqlconnector://user:u53r_mysql@db/article_clustering')
cluster_text = pd.read_sql(query, engine)
cluster_text.columns

Index(['text', 'cluster_id'], dtype='object')

In [42]:
def vocab_gen(text):
    return Counter([token for token in word_tokenize(text.lower()) if token not in stopwords_set and token.isalnum()])

In [45]:

    stopwords_set = set(stopwords.words('english'))pool = mp.Pool()
wordcloud = list()
for cluster in cluster_text['cluster_id'].unique():
    vocab = Counter()
    article_text = cluster_text[cluster_text['cluster_id'] == cluster]['text'].to_list()
    vocab_list = pool.map(vocab_gen, article_text)
    for text_vocab in vocab_list:
        vocab += text_vocab
    wordcloud.append({'id': cluster, 'wordcloud': json.dumps(vocab.most_common(50))})

In [46]:
cluster_frame = pd.DataFrame(wordcloud)
cluster_frame

    id                                          wordcloud
0   39  [["de", 171], ["la", 106], ["que", 69], ["en",...
1   58  [["de", 89], ["cnbc", 57], ["la", 44], ["ceo",...
2   61  [["de", 52], ["cnbc", 38], ["la", 29], ["en", ...
3   60  [["de", 67], ["cnbc", 47], ["\u03c4\u03bf\u03c...
4   55  [["\u0641\u064a", 79], ["de", 61], ["\u0645\u0...
..  ..                                                ...
95  35  [["\u03c3\u03c4\u03b7\u03bd", 94], ["\u03ba\u0...
96  97  [["black", 46], ["nfl", 39], ["quarterbacks", ...
97  91  [["syrian", 208], ["civil", 174], ["war", 173]...
98  76  [["de", 154], ["la", 118], ["que", 93], ["e", ...
99  94  [["zoom", 86], ["yuan", 71], ["webex", 44], ["...

[100 rows x 2 columns]